shamefully-hoist=true
strict-peer-dependencies=false
shell-emulator=true

# 解决 .../node_modules/puppeteer install$ node install.js 安装失败， 下列配置二选一即可
puppeteer_download_host=https://cdn.npmmirror.com/binaries
# puppeteer-download-base-url=https://cdn.npmmirror.com/binaries/chrome-for-testing
